body {
  background-color: #b6b6b6;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 50px;
}
header {
  width: 720px;
  margin: auto;
  background-color: #1cc198;
  text-align: center;
}
header .titulo {
  color: #ffffff;
  font-size: 70px;
}
header .parrafo {
  width: 600px;
  margin: auto;
  font-size: 20px;
}
